{% extends 'home/base.html' %}
{% load static %}
{% block title %}Über Mich - Starke-Thomsen{% endblock %}

{% block content %}
<!-- About section -->

<div class="container mt-5 mb-5">
    <div class="content-section">
        <h1 class=" m-5 fw-bold d-flex justify-content-center"></h1>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <img src="{% static 'home/images/aboutme-imageV3-logo-resized.jpg' %}" class="img-fluid" id="aboutme-image" alt="Architect House Image">
        </div>
        <div class="col-lg-6">
            <div class="aboutme">
                <h3 class="d-flex justify-content-center">Dipl.-Ing. (FH) Michaela Starke-Thomsen M.A., Energieeffizienzexpertin</h3>
                <p class="text-justify">seit über 10 Jahren bin ich in der Architektur und Denkmalpflege tätig. Zu meinem Profil gehören neben der Planung von Neubau-, Umbau-, und Sanierungsarbeiten und dem Einreichen der erforderlichen Pläne und Baugenehmigungen auch die Tätigkeit als
Energieeffizienzexpertin.</p>
                <p class="text-justify">Hierdurch kann ich für Sie den sogenannten iSFP, den individuellen Sanierungsfahrplan, der die Grundlage für die Förderung durch KfW und BAFA (Bundesamt für Wirtschaft und Ausfuhrkontrolle) ist, kompetent erarbeiten und entsprechende Förderanträge stellen.</p>
            </div>
            <a href="{% url 'contact' %}" class="btn" id="btn-green-leaf">Contact Us</a>
        </div>

    </div>
</div>
{% endblock %}