<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Starke-Thomsen{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <header class="header">
        <h1>Architekturbüro Starke-Thomsen</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">HOME</a></li>
                <li><a href="{% url 'about' %}">ÜBER MICH</a></li>
                <li><a href="{% url 'services' %}">SERVICES</a></li>
                <li><a href="{% url 'contact' %}">CONTACT</a></li>
            </ul>
        </nav>
    </header>
    <div class="content-wrapper">
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
    <footer class="footer">
        <p>&copy; 2024. All rights reserved.</p>
    </footer>
    <!-- Bootstrap JS CDN -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- jQuery CDN (required for Bootstrap) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper.js CDN (required for Bootstrap) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
</body>
</html>