<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Starke-Thomsen{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/styles.css' %}">
</head>
<body>
    <header class="header">
        <h1>Architekturbüro Starke-Thomsen</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">HOME</a></li>
                <li><a href="{% url 'about' %}">ÜBER MICH</a></li>
                <li><a href="{% url 'services' %}">SERVICES</a></li>
                <li><a href="{% url 'contact' %}">CONTACT</a></li>
            </ul>
        </nav>
    </header>
    <div class="content-wrapper">
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
    <footer class="footer">
        <p>&copy; 2024. All rights reserved.</p>
    </footer>
</body>
</html>