
{% extends 'home/base.html' %}

{% load custom_filters %}

{% block title %}Kontakt | Architekturbüro Starke-Thomsen | Schwabmünchen {% endblock %}
{% block meta_description %}
<meta name="description" content="Kontaktieren Sie uns für Ihr Architekturprojekt in Schwabmünchen. Wir freuen uns darauf, Ihre Visionen zu verwirklichen. Erfahren Sie mehr über unsere Leistungen und lassen Sie uns gemeinsam planen.">
{% endblock %}

{% block content %}

<!-- Contact Form Section -->
<div class="container">
    <h2 class="mt-5 text-center contact-title">So erreichen Sie mich</h2>
    <div class="row mt-5 justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <h3 class="contact-subtitle">Kontaktformular</h3>
            <form class="d-flex flex-column" method="post" action="{% url 'contact' %}">
                {% csrf_token %}
                <div class="form-group mt-2">
                    <label for="id_name">Name:</label>
                    {{ form.name|add_class:"form-control" }}
                </div>
                <div class="form-group mt-2">
                    <label for="id_email">Email:</label>
                    {{ form.email|add_class:"form-control" }}
                </div>
                <div class="form-group mt-2">
                    <label for="id_message">Nachricht:</label>
                    {{ form.message|add_class:"form-control" }}
                </div>
                <button type="submit" class="btn align-self-end mt-3" id="btn-green-leaf">Senden</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}