
{% extends 'home/base.html' %}

{% load custom_filters %}

{% block title %}Contact - Starke-Thomsen{% endblock %}

{% block content %}

<!-- Contact Form Section -->
<div class="container">
    <h2 class="mt-5 text-center">So erreichen Sie uns</h2>
    <div class="row mt-5 justify-content-center">
        <div class="col-md-12">
            <h2 class="contact-title">Kontaktformular</h2>
            <form method="post" action="{% url 'contact' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_name">Name:</label>
                    {{ form.name|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label for="id_email">Email:</label>
                    {{ form.email|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label for="id_message">Nachricht:</label>
                    {{ form.message|add_class:"form-control" }}
                </div>
                <button type="submit" class="btn" id="btn-green-leaf">Senden</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}