{% load static %}
<!-- footer.html -->
<footer class="footer">
    <div class="container">
        <!-- First Section: Logo and Header -->
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="footer-heading">Architekturbüro Starke-Thomsen</h1>
                <p>Dipl.-Ing. (FH) Michaela Starke-Thomsen M.A., Energieeffizienzexpertin</p>
            </div>
        </div>
        <hr class="footer-divider">
        <!-- Second Section: Contact, Address, and Opening Hours -->
        <div class="row mb-4 text-center">
            <div class="col-md-4">
                <h5 class="footer-subheading m-3">Kontakt</h5>
                <p><i class="fas fa-phone p-2"></i> Telefon: 08232 / 5054030</p>
                <p><i class="fas fa-envelope p-2"></i> Email: info@architektur-starke-thomsen.de</p>
            </div>
            <div class="col-md-4">
                <h5 class="footer-subheading m-3">Adresse</h5>
                <p>Kipfbuelstr. 34,</p>
                <p>86830 Schwabmünchen</p>
            </div>
            <div class="col-md-4">
                <h5 class="footer-subheading m-3">Bürozeiten</h5>
                <p>Montag - Freitag: 8:30am - 14:30pm</p>
                <p>Sa./So.: nur nach Vereinbarung</p>
            </div>
        </div>
        <hr class="footer-divider">
        <!-- Third Section: Partners Links -->
        <div class="row text-center">
            <div class="col-md-12">
                <h5 class="footer-subheading">Partnern und weiteren Informationen</h5>
                <ul class="list-unstyled d-flex flex-wrap justify-content-center">
                    <li class="m-3">
                        <a href="https://www.kfw.de/inlandsfoerderung/Unternehmen/Energie-und-Umwelt/?kfwmc=kom.sea.google.kfwcorporate.run-of-site.sitelink|energieeffizienz&wt_cc1=brand&wt_cc2=coi&gad_source=1&gclid=CjwKCAiA_aGuBhACEiwAly57Med4vZRbGybrTMm6SFuw0DL3C3IsBTjf1mrOQ76xHJLVJExlUQ4nvhoCcM4QAvD_BwE" target="_blank">Kreditanstalt für Wiederaufbau (KfW)</a>
                    </li>
                    <li class="m-3">
                        <a href="https://www.bafa.de/DE/Energie/Heizen_mit_Erneuerbaren_Energien/Foerderprogramm_im_Ueberblick/foerderprogramm_im_ueberblick_node.html" target="_blank">Bundesamt für Wirtschaft und Ausfuhrkontrolle</a>
                    </li>
                    <li class="m-3">
                        <a href="https://www.energie-effizienz-experten.de/" target="_blank">Energie-Effizienz-Experten-Liste</a>
                    </li>
                    <li class="m-3">
                        <a href="https://www.gih.de/" target="_blank">Intressenvertretung Energieberatende</a>
                    </li>
                    <li class="m-3">
                        <a href="https://www.mercicon.eu/" target="_blank">mercicon</a>
                    </li>
                </ul>
                
                <ul class="list-unstyled d-flex justify-content-center mt-3">
                    <li class="mr-3">
                        <a href="https://www.linkedin.com/in/michaela-starke-thomsen-90b415309/" target="_blank">
                            <i class="fab fa-linkedin gray-icon p-2"></i>
                        </a>
                    </li>
                    <li class="mr-3">
                        <a href="https://www.facebook.com/profile.php?id=61559596775225" target="_blank">
                            <i class="fab fa-facebook gray-icon p-2 "></i>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">
                            <i class="fas fa-envelope gray-icon p-2"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <hr class="footer-divider">

        <!-- Fourth Section: Legal Links and Copyright -->
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="list-unstyled d-flex flex-wrap justify-content-center mb-0">
                    <li class="mr-3"><a href="{% url 'impressum' %}">Impressum</a></li>
                    <li class="mr-3"><a href="{% url 'privacy' %}">Datenschutz</a></li>
                    <li class="mr-3"><a href="{% url 'disclaimer' %}">Disclaimer</a></li>
                    <li class="mr-3">© Copyright 2024. Alle Rechte vorbehalten.</li>
                </ul>
            </div>
        </div>
    </div>
</footer>