{% extends 'home/base.html' %}

{% block title %}Home - Starke-Thomsen{% endblock %}

{% block content %}
<div class="content-section">
    <h2>Contact</h2>
    <div class="contact-info">
        <p>Mail: <a href="mailto:info@architektur-starke-thomsen.de">info@architektur-starke-thomsen.de</a></p>
    </div>
</div>

<div class="content-section">
    <h2>Our Services</h2>
    <div class="service-container">
        <div class="service">
            <h3>Energieberatung</h3>
            <p>Lorem ipsum dolor amet consectetur adipiscing elit sed eiusmod tempor incididunt ut labore.</p>
        </div>
        <div class="service">
            <h3>Sanierung</h3>
            <p>Lorem ipsum dolor amet consectetur adipiscing elit sed eiusmod tempor incididunt ut labore.</p>
        </div>
        <div class="service">
            <h3>Planung</h3>
            <p>Lorem ipsum dolor amet consectetur adipiscing elit sed eiusmod tempor incididunt ut labore.</p>
        </div>
        <div class="service">
            <h3>Denkmalpflege</h3>
            <p>Lorem ipsum dolor amet consectetur adipiscing elit sed eiusmod tempor incididunt ut labore.</p>
        </div>
        <div class="service">
            <h3>Umbau</h3>
            <p>Lorem ipsum dolor amet consectetur adipiscing elit sed eiusmod tempor incididunt ut labore.</p>
        </div>
    </div>
</div>

<div class="content-section">
    <h2>Über Mich</h2>
    <div class="aboutme">
        <p>Dipl.-Ing. (FH) Michaela Starke-Thomsen M.A., Energieeffizienzexpertin</p>
    </div>
</div>

<div class="content-section">
    <h2>Portfolio</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua.</p>

    <div class="project">
        <h3>Bestandswand Entfernung</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua.</p>
        <a href="#">CONTINUE READING....</a>
    </div>

    <div class="project">
        <h3>Reihenmittelhaus Dachsanierung</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua.</p>
        <a href="#">CONTINUE READING....</a>
    </div>
</div>

<div class="content-section">
    <h2>So erreichen Sie uns</h2>
    <div class="contact-info">
        <p>Mail: <a href="mailto:info@architektur-starke-thomsen.de">info@architektur-starke-thomsen.de</a></p>
        <p>Tel.: 08232 / 5054030</p>
    </div>
</div>
{% endblock %}