{% extends 'home/base.html' %}

{% block title %}Home - Starke-Thomsen{% endblock %}

{% block content %}
<h2>Portfolio</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua.</p>

<div class="project">
    <h3>Bestandswand Entfernung</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua.</p>
    <a href="#">CONTINUE READING....</a>
</div>

<div class="project">
    <h3>Reihenmittelhaus Dachsanierung</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua.</p>
    <a href="#">CONTINUE READING....</a>
</div>
{% endblock %}