<!-- Impressum.html -->
{% extends 'home/base.html' %} 
{% load static %} 
{% block title %}Impressum | Architekturbüro Starke-Thomsen | Schwabmünchen {% endblock %}
{% block meta_description %}
<meta name="description" content="Impressum von Architekturbüro Starke-Thomsen. Erfahren Sie mehr über die rechtlichen Informationen zu unserem Architekturbüro in Schwabmünchen.">
{% endblock %}
{% block content %}

<div class="container my-5">
  <h1 class="pt-5 pb-5">Impressum</h1>
  <p>
    Ansprechpartner & Verantwortlich: 
    <p>Dipl.-Ing. (FH) Michaela Starke-Thomsen,
    M.A. - Architektin, Energieeffizenzexpertin.</p>
    <p>
    Kipfbühlstr. 34 86830 Schwabmünchen
    </p>
    <p>
    08232/5054030
    </p>
    <p>info@architektur-starke-thomsen.de</p> 
    <p>Eingetragene Architektin der Bayerischen Architektenkammer.</p>
    <p>
      Umsatzsteuer-Identifikations-Nummer:  
    </p>
    <P>Nach § 19 UStG ("Kleinunternehmer")
    wird - Stand 02/2024 - keine Umsatzsteuer erhoben.</P>
    <p>Betreuung der Website:
    Dipl.-Ing. (FH) Michaela Starke-Thomsen, M.A.</p>
  </p>
  <p>
    Quelle:
    <a
      href="https://www.architektur-starke-thomsen.de/impressum-/"
      target="_blank"
      >Legal Notice</a
    >
  </p>
</div>

{% endblock %}
