{% extends 'home/base.html' %}
{% load static %}
{% block title %}Über Mich - Starke-Thomsen{% endblock %}

{% block content %}

<!-- Portfolio section -->
<div class="container-fluid p-2">
    <div class="container p-2">
      <div class="content-section">
        <h2 class="mt-5">Portfolio</h2>
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="project">
              <div class="project-image" id="boder-radius">
                <img
                  src="{% static 'home/images/project1-v2.png' %}"
                  class="img-fluid"
                  alt="Project 1"
                />
              </div>
              <h3 class="mt-5">Umplanung Einfamilienhaus</h3>
              <p class="text-justify">
                Dieses Einfamilienhaus soll umgestalltet und an die Wünsche des
                neuen Eigentümers angepasst werden.
              </p>
              <div class="text-center m-4">
                <a href="{% url 'projectone' %}" class="btn" id="btn-green-leaf"
                  >Zum Projekt</a>
              </div>
            </div>

          </div>
          <div class="col-lg-6">
            <div class="project">
              <div class="project-image" id="boder-radius">
                <img
                  src="{% static 'home/images/dachsanierung-sud-project-cropped.jpg' %}"
                  class="img-fluid"
                  alt="Project 2"
                />
              </div>
              <h3 class="mt-5">Modernisierung eines Reihenmittelhauses</h3>
              <p class="text-justify">
                Dachsanierung und Wohnraumschaffung in einem Reihenmittelhaus aus
                dem Jahr 1972.
              </p>
              <div class="text-center m-4">
                <a href="{% url 'projecttwo' %}" class="btn" id="btn-green-leaf"
                  >Zum Projekt</a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}