{% extends 'home/base.html' %} 
{% load static %} 
{% block title %} Umplanung Einfamilienhaus| Architekturbüro Starke-Thomsen | Schwabmünchen {% endblock %}
{% block meta_description %}
<meta name="description" content="Modernisierung eines Reihenmittelhauses in Schwabmünchen: Ein Projekt von Architekturbüro Starke-Thomsen. Entdecken Sie die Details dieses einzigartigen Bauwerks.">
{% endblock %}

{% block content %}
<section class="project-section mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="project-title text-center mb-5">
          Modernisierung eines Reihenmittelhauses
        </h2>
      </div>
    </div>
    <div class="row pb-5">
      <div class="col-md-6 text-center">
        <img
          src="{% static 'home/images/projects/dachsanierung-project-img1.jpg' %}"
          alt="Image 1"
          class="project-page-image img-fluid p-4"
          id="boder-radius"
        />
        <p class="project-description pt-3">
          Bei einem Reihenmittelhaus aus dem Jahre 1972 stand die Dachsanierung
          an.
        </p>
      </div>
      <div class="col-md-6 text-center">
        <img
          src="{% static 'home/images/projects/dachsanierung-project-img2.jpg' %}"
          alt="Image 2"
          class="project-page-image img-fluid p-4"
          id="boder-radius"
        />
        <p class="project-description pt-3">
          Die Gelegenheit wurde genutzt, um nicht nur mehr Wohnraum im
          Dachgeschoss zu generieren, sondern auch die energische Sanierung
          durchzuführen.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 text-center">
        <img
          src="{% static 'home/images/projects/dachsanierung-project-img3.jpg' %}"
          alt="Image 3"
          class="project-page-image img-fluid p-4"
          id="boder-radius"
        />
        <p class="project-description pt-3">
          Mit zwei großzügigen Gauben konnte die Wohnfläche um ca. 40qm erhöht
          werden.
        </p>
      </div>
      <div class="col-md-6 text-center">
        <img
          src="{% static 'home/images/projects/dachsanierung-project-img4.jpg' %}"
          alt="Image 4"
          class="project-page-image img-fluid p-4"
          id="boder-radius"
        />
        <p class="project-description pt-3">
          Um eine Wärmebrücke zum nun mit Wohnfläche überspanntem Balkon im
          ersten Geschoss zu verhindern, wurde nach Fachberechnung eine ca. 20cm
          starke Aufputzdämmung erstellt. Der Innenraum wurde entsprechend der Bauherrenwünsche gestaltet. Ein
          weiteres Badezimmer wurde geschaffen.
        </p>
      </div>
    </div>

    <!-- Contact information section -->
    <div class="container mt-4">
      <div class="content-section">
        <h2 class="m-5">So erreichen Sie mich</h2>
        <hr class="footer-divider" />
        <div class="contact-info">
          <p>
            <i class="fas fa-envelope p-2"></i>
            <a href="mailto:info@architektur-starke-thomsen.de"
              >info@architektur-starke-thomsen.de</a
            >
          </p>
          <p><i class="fas fa-phone p-2"></i> 08232 / 5054030</p>
        </div>
        <div class="text-center m-4">
          <a href="{% url 'contact' %}" class="btn" id="btn-green-leaf"
            >Kontakt</a
          >
        </div>
      </div>
    </div>

    <!-- Testimonial Section 
        <div class="row mt-5">
            <div class="col-md-12">
                <h3 class="testimonial-title">Kundenstimme</h3>
                <div class="testimonial">
                    <p class="testimonial-text">"sehr zufrieden."</p>
                    <p class="testimonial-author">Die Bauherren</p>
                </div>
            </div>
        </div>-->
  </div>
</section>
{% endblock %}
