{% extends 'home/base.html' %}
{% load static %}

{% block title %} Umplanung Einfamilienhaus| Architekturbüro Starke-Thomsen | Schwabmünchen {% endblock %}
{% block meta_description %}
<meta name="description" content="Umplanung Einfamilienhaus in Schwabmünchen: Ein Projekt von Architekturbüro Starke-Thomsen. Entdecken Sie die Details dieses einzigartigen Bauwerks.">
{% endblock %}

{% block content %}
<section class="project-section mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="project-title text-center mb-5">Umplanung Einfamilienhaus</h2>
            </div>
        </div>
        <div class="row pb-5">
            <div class="col-md-6 text-center">
                <img src="{% static 'home/images/projects/umplanung-project-img1.jpg' %}" alt="Image 1" class="project-page-image img-fluid p-4"
                id="boder-radius">
                <p class="project-description pt-3">Dieses Einfamilienhaus soll umgestalltet und an die Wünsche des neuen Eigentümers angepasst werden.</p>
            </div>
            <div class="col-md-6 text-center">
                <img src="{% static 'home/images/projects/umplanung-project-img2.jpg' %}" alt="Image 2" class="project-page-image img-fluid p-4"
                id="boder-radius">
                <p class="project-description pt-3">Der Bauherr wünscht die Entfernung einer Bestandswand und das Zumauern der Gaderobe, damit das Erdgeschoss gemütlicher wird.</p>
            </div>
        </div>
        <div class="row pb-5">
            <div class="col-md-6 text-center">
                <img src="{% static 'home/images/projects/umplanung-project-img3.jpg' %}" alt="Image 3" class="project-page-image img-fluid p-4"
                id="boder-radius">
                <p class="project-description pt-3">Also erfolgt die Umplanung und die Planeingabe bei der zuständigen Baubehörde.</p>
            </div>
            <div class="col-md-6 text-center">
                <img src="{% static 'home/images/projects/umplanung-project-img4.jpg' %}" alt="Image 3" class="project-page-image img-fluid p-4"
                id="boder-radius">
                <p class="project-description pt-3">Die Firma MERCICON übernimmt die Bauarbeiten.</p>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-6 text-center">
                <img src="{% static 'home/images/projects/umplanung-project-img5.jpg' %}" alt="Image 4" class="project-page-image img-fluid p-4"
                id="boder-radius">
                <p class="project-description pt-3">Hier noch im Bestand der alte Küchendruchgang. Dunkel, drückend und unpassend für moderne Wohnansprüche.</p>
            </div>
            <div class="col-md-6 text-center">
                <img src="{% static 'home/images/projects/umplanung-project-img6.jpg' %}" alt="Image 4" class="project-page-image img-fluid p-4"
                id="boder-radius">
                <p class="project-description pt-3">Nach dem Entfernen der Wand wirk - trotz Rohbau -das EG schon viel heller, geräumiger und wohnlicher. Und letztlich wird auch schon die Gaderobe zugemauert - ein größeres Gäste-WC soll entstehen.</p>
            </div>
        </div>

            <!-- Contact information section -->
    <div class="container mt-4">
        <div class="content-section">
          <h2 class="m-5">So erreichen Sie mich</h2>
          <hr class="footer-divider" />
          <div class="contact-info">
            <p>
              <i class="fas fa-envelope p-2"></i>
              <a href="mailto:info@architektur-starke-thomsen.de"
                >info@architektur-starke-thomsen.de</a
              >
            </p>
            <p><i class="fas fa-phone p-2"></i> 08232 / 5054030</p>
          </div>
          <div class="text-center m-4">
            <a href="{% url 'contact' %}" class="btn" id="btn-green-leaf"
              >Kontakt</a
            >
          </div>
        </div>
      </div>
</section>
{% endblock %}