{% extends 'home/base.html' %}

{% block title %}Services - Starke-Thomsen{% endblock %}

{% block content %}
<h2>Our Services</h2>
<div class="service">
    <h3>Energieberatung</h3>
    <p>Lorem ipsum dolor amet consectetur adipiscing elit sed eiusmod tempor incididunt ut labore.</p>
</div>
<div class="service">
    <h3>Sanierung</h3>
    <p>Lorem ipsum dolor amet consectetur adipiscing elit sed eiusmod tempor incididunt ut labore.</p>
</div>
<div class="service">
    <h3>Planung</h3>
    <p>Lorem ipsum dolor amet consectetur adipiscing elit sed eiusmod tempor incididunt ut labore.</p>
</div>
<div class="service">
    <h3>Denkmalpflege</h3>
    <p>Lorem ipsum dolor amet consectetur adipiscing elit sed eiusmod tempor incididunt ut labore.</p>
</div>
<div class="service">
    <h3>Umbau</h3>
    <p>Lorem ipsum dolor amet consectetur adipiscing elit sed eiusmod tempor incididunt ut labore.</p>
</div>
{% endblock %}