/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

.header, .content-wrapper, .footer {
    flex-shrink: 0;
}

.header {
    background: #fcf9f9;
    color: #0c0c0c;
    padding: 10px 0;
    text-align: center;
}

.header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #0f0f0f;
    text-decoration: none;
}

.navbar-logo {
    max-width: 100px; /* Set the maximum width of the logo */
    height: auto; /* Maintain aspect ratio */
}

.content-wrapper {
    flex: 1;
    padding: 20px;
}

.content-wrapper h2 {
    color: #333;
    margin-bottom: 20px;
}

.content-wrapper p {
    margin-bottom: 20px;
}

/* Footer */
.footer {
    background-color: rgba(248, 248, 248, 1);
    color: #000000;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

.footer-logo {
    max-width: 90px; /* Set the maximum width of the logo */
    height: auto; /* Maintain aspect ratio */
}
.footer p {
    margin: 0;
}

.footer-heading {
    margin-bottom: 1rem;
}

.gray-icon {
    color: #343a40;;
    font-size: 1.2rem;
}

.gray-icon:hover {
    color: darkgray;
}

.footer-divider {
    border-top: 1px solid #dee2e6;
    margin: 1.5rem 0;
}

.list-unstyled.d-flex.justify-content-start > li {
    margin-right: 1rem;
}

.list-unstyled.d-flex.justify-content-center > li {
    margin-right: 1rem;
}

/* projects & services */
h3 {
    color: #333;
    margin-top: 20px;
}

a { color: #0f0f0f!important;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


div.project {
    padding: 10px;
    margin-bottom: 40px;
    border-radius: 5px;
}


div.project h3, div.service h3 {
    margin-bottom: 10px;
}

div.project p, div.service p {
    margin-bottom: 10px;
}

div.project a, div.service a {
    display: inline-block;
    margin-top: 10px;
}

div.project img, div.service img {
    width: 100%;
    height: auto;
    border-radius: 5px; /* Make the images have the same rounded corners as the containers */
}


.contact-info {
    margin-top: 40px;
}

.contact-info p {
    margin-bottom: 10px;
}

/* Services-section Design */
.content-section {
    text-align: center;
    padding: 0 20px; /* Add padding to the sides for responsiveness */
}

.service-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    flex-wrap: wrap; /* Allow services to wrap to the next line on smaller screens */
}

.service {
    position: relative;
    width: calc(33.33% - 40px); /* Adjust this width for responsiveness */
    max-width: 400px; /* Maximum width */
    height: 140px; /* H */
    overflow: hidden; /* Hide any content that may overflow the shape */
    margin-bottom: 30px; /* Add margin between services */
    border-radius: 50px 20px 30px 10px; /* Top-left, top-right, bottom-right, bottom-left */
}

div.service {
    padding: 5px;
    margin-bottom: 40px;
    font-size: 0.9em; /* Smaller text for the services section */
    max-width: 600px; /* Ensures the text fits well inside the div */
}

div.service h3 {
    margin-bottom: 5px;
    font-size: 1.6em; /* Smaller font size for h3 elements within services */
}
/*
.service::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px 20px 30px 10px;  Top-left, top-right, bottom-right, bottom-left */
     /*background-color: rgba(55, 128, 107, 0); Change this to your desired background color
} */

/*Introduction section */

#intro-image {
    border-radius: 50px 5px 50px 5px; /* Top-left, top-right, bottom-right, bottom-left */
}

/*about me section*/
#aboutme-image {
    border-radius: 50px 5px 50px 5px; /* Top-left, top-right, bottom-right, bottom-left */
}

/* buttons */

#btn-green-leaf {
    color: #fff;
    background-color: rgba(55, 128, 107, 1); /* First and fifth service */
    border-radius: 20px 5px 20px 5px; /* Top-left, top-right, bottom-right, bottom-left */
}

/* Custome Margin */

.m-7 {
    margin: 7rem;
}

/* Service background colors */
.service:nth-child(1)::before,
.service:nth-child(5)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px 20px 30px 10px; /* Top-left, top-right, bottom-right, bottom-left */
    background-color: rgba(55, 128, 107, 1); /* First and fifth service */
}

.service:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px 20px 30px 10px; /* Top-left, top-right, bottom-right, bottom-left */
    background-color: rgba(202, 168, 146, 1); /* Second service */
}

.service:nth-child(3)::before,
.service:nth-child(4)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: solid 1px;
    border-color: #b18b61;
    border-radius: 50px 20px 30px 10px; /* Top-left, top-right, bottom-right, bottom-left */
    background-color: rgba(255, 255, 255, 1); /* Third and fourth service */
    box-shadow: rgb(0 0 0 / 30%) 0px 2px 15px 1px; /* Shadow effect */
}

.service h3,
.service p {
    position: relative;
    z-index: 1; /* Ensure text content is above the background shape */
    margin: 0; /* Remove default margins */
    padding: 5px; /* Add padding inside the shape */
}

/*portfolio section */

#portfolio {
    background-color: rgba(248, 248, 248, 1);
}
/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .service {
        width: calc(50% - 40px); /* Two services per row on smaller screens */
    }
}

@media screen and (max-width: 480px) {
    .service {
        width: calc(100% - 40px); /* Single service per row on even smaller screens */
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 5px 0;
    }
    
    .project, .service {
        margin-bottom: 15px;
        max-width: 100%; /* Ensure containers fit the screen on smaller devices */
    }

    div.service {
        font-size: 0.8em; /* Smaller text for the services section on smaller screens */
    }

    div.service h3, div.project h3, div.aboutme h3 {
        font-size: 1.3em; /* Smaller font size for h3 elements within services on smaller screens */
        margin-top: revert;
    }

    h2 {
        font-size: 1.2em; /* Smaller font size for h3 elements within services on smaller screens */
        margin: 1em;
        margin-bottom: 10px;
    }
}

@media (max-width: 576px) {
    h2 {
        margin-bottom: 5px;
    }

    h1 {
        margin-bottom: 5px;
        font-size: 1.8em; /* Smaller font size for h3 elements within services on smaller screens */
    }
}

@media (max-width: 480px) {
    div.service {
        font-size: 0.7em; /* Even smaller text for the services section on very small screens */
    }


    div.service h3 {
        font-size: 1.2em; /* Even smaller font size for h3 elements within services on very small screens */
    }

    div.project h3 {
        font-size: 1.2em; /* Even smaller font size for h3 elements within services on very small screens */
    }

    h2 {
        font-size: 1em; /* Smaller font size for h3 elements within services on smaller screens */
        margin: 1em;
        margin-bottom: 5px;
    }

    main h1 {
        margin-bottom: 5px;
        font-size: 1.8em; /* Smaller font size for h3 elements within services on smaller screens */
    }

}
