{% extends 'home/base.html' %}

{% block title %}Contact - Starke-Thomsen{% endblock %}

{% block content %}
<h2>Contact</h2>
<div class="contact-info">
    <p>Mail: <a href="mailto:info@architektur-starke-thomsen.de">info@architektur-starke-thomsen.de</a></p>
    <p>Tel.: 08232 / 5054030</p>
    <p>Geschäftszeiten: Montag - Donnerstag 08:30 - 14:00, Freitag 08:30 - 13:30, Sa./So. nur nach Vereinbarung</p>
    <p>Postalisch: Dipl.-Ing.(FH) M. Starke-Thomsen, Kipfbühlstr. 34, 86830 Schwabmünchen</p>
</div>
{% endblock %}